{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-1">


            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Control</th>
                </tr>

                {% for author in authors %}
                    <tr>
                        <td>{{ author.id }}</td>
                        <td>{{ author.name }}</td>
                        <td>
                            <form method="POST" action="{{ path('admin_author_delete', {author: author.id}) }}">
                                <a class="btn btn-default btn-sm" href="{{ path('admin_author_edit', {author: author.id}) }}">Edit</a>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3"><a class="btn btn-small" href="{{ path('admin_author_add') }}">Add Author</a></td>
                </tr>
            </table>


            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Control</th>
                </tr>

                {% for genre in genres %}
                    <tr>
                        <td>{{ genre.id }}</td>
                        <td>{{ genre.name }}</td>
                        <td>
                            <form method="POST" action="{{ path('admin_genre_delete', {genre: genre.id}) }}">
                                <a class="btn btn-default btn-sm" href="{{ path('admin_genre_edit', {genre: genre.id}) }}">Edit</a>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3"><a class="btn btn-small" href="{{ path('admin_genre_add') }}">Add Genre</a></td>
                </tr>
            </table>


            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                    <th>Control</th>
                </tr>

                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author.name }}</td>
                        <td>{{ book.genres | join(', ') }}</td>
                        <td>
                            <form method="POST" action="{{ path('admin_book_delete', {book: book.id}) }}">
                                <a class="btn btn-default btn-sm" href="{{ path('admin_book_edit', {book: book.id}) }}">Edit</a>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3"><a class="btn btn-small" href="{{ path('admin_book_add') }}">Add Book</a></td>
                </tr>
            </table>


        </div>
    </div>
{% endblock %}
