{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <h1>Welcome: {{ app.user.firstName }}</h1>
                <p><a href="{{ path('forgot-password') }}">Forgot password</a></p>
                <p><a href="/logout">Logout</a></p>
                <p><a href="{{ path('search') }}">Search</a></p>
                {% if is_granted('ROLE_ADMIN') %}
                    <p><a href="{{ path('admin') }}">Admin panel</a></p>
                {% endif %}
            {% else %}
                <p><a href="{{ path('login') }}">Sign in</a></p>
                <p><a href="{{ path('register') }}">Sign up</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}