{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-2">

            {{ form(form) }}

            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Genre</th>
                </tr>

                {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author.name }}</td>
                        <td>{{ book.genres | join(', ') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}